<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>University Campus</title>
</head>

<body>
  <header>Hello world!!!</header>
  <div id="login-form"><%- loginFormHtml %></div>