<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="Marcin Ogar">
  <meta name="description" content="A fictional university campus site, built as a full-stack chalange.">
  <meta name="keywords" content="university, campus, events, professors, programs, education">
  <meta name="google" content="notranslate">
  <title>University Campus</title>
  <link rel="icon"
        type="image/svg"
        sizes="32x32"
        href="<%= manifest['assets/building-columns.svg'] %>" />
  <link rel="stylesheet" href="<%= manifest.styles %>" type="text/css">
  <% for (const script of scripts) { %>
  <script defer src="<%= manifest[script] %>"></script>
  <% } %>
  <script defer src="https://kit.fontawesome.com/43d257bcb7.js" crossorigin="anonymous"></script>
</head>

<body>
  <header id="site-header" class="site-header">
    <div class="site-header__menu-toggle"
         :class="{'site-header__menu-toggle--active': mainStore.isMobileMenuOpen}"
         @click="mainStore.toggleMobileMenu">
      <span class="site-header__menu-toggle__bar site-header__menu-toggle__bar--top"></span>
      <span class="site-header__menu-toggle__bar"></span>
      <span class="site-header__menu-toggle__bar site-header__menu-toggle__bar--bottom"></span>
    </div>
    <h1 class="site-header__logo-text"><a href="#">University <strong>Campus</strong></a></h1>
    <nav class="site-header__menu-links">
      <ul :class="{active: mainStore.isMobileMenuOpen}">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Programs</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Professors</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
    <div class="site-header__menu-forms">
      <div class="site-header__search-form-container">
        <form action="/search" method="GET">
          <label for="site-search-field">Search on this site...</label>
          <div class="site-header__search-form-container__input-wrapper"
               :class="{'site-header__search-form-container__input-wrapper--active': mainStore.isSearchInputOpen}">
            <input type="search"
                   id="site-search-field"
                   name="searchPhrase"
                   aria-label="Search through site content"
                   placeholder="Search on this site..."
                   required>
          </div>
          <button @click.prevent="mainStore.toggleSearchInput"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div id="login-form" class="site-header__login-form-container"><%- loginFormHtml %></div>
    </div>
  </header>