<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="author" content="Marcin Ogar">
  <meta name="description" content="A fictional university campus site, built as a full-stack chalange.">
  <meta name="keywords" content="university, campus, events, professors, programs, education">
  <meta name="google" content="notranslate">
  <title>University Campus</title>
  <link rel="icon"
        type="image/svg"
        sizes="32x32"
        href="<%= manifest['assets/building-columns.svg'] %>" />
  <link rel="stylesheet" href="<%= manifest.styles %>" type="text/css">
  <% for (const script of scripts) { %>
  <script defer src="<%= manifest[script] %>"></script>
  <% } %>
  <script defer src="https://kit.fontawesome.com/43d257bcb7.js" crossorigin="anonymous"></script>
</head>

<body class="page-layout">
  <div id="site-header" class="page-layout__site-header"><%- siteHeaderHtml %></div>