@import "./menu-toggle.scss";
@import "./menu-links.scss";
@import "./search-form.scss";

.site-header {
  padding: 12px 0 16px;
  display: flex;
  align-items: center;

  &__menu-toggle {
    width: 26px;
    height: 32px;
    margin: 12px 18px;
  }

  &__logo-text {
    max-width: 8rem;
    font-size: 1.65rem;
    font-weight: 100;
    margin: 0;

    strong {
      font-weight: 500;
    }
  }

  &__menu-links {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }

  &__menu-forms {
    font-size: 0;
    margin-left: auto;
    margin-right: 18px;
    text-align: center;

    &__search {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem;
      margin-right: 10px;
    }

    &__login {
      display: inline-block;
      vertical-align: middle;
      font-size: 1rem;
    }
  }
}
