.form-element {
  padding: 0 25px;
  border-bottom: 2px solid $mediumGray;

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__options__forget-input {
    font-size: 0.75rem;
    background: none;
    border: none;
    font-weight: 700;
    padding-block: 4px;
    color: $darkOrange;

    &--login {
      color: $lightOrange;
    }
  }

  &__login-input {
    background-color: $darkOrange;
    border: none;
    border-radius: 6px;
    width: 100%;
    color: $mainWhite;
    font-size: 120%;
    font-weight: 700;
    text-transform: uppercase;
    padding-block: 10px;
    margin-bottom: 18px;

    &--login {
      background-color: $lightOrange;
    }
  }
}
